<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="th-fragment-book-footer">
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Spring Boot</h4>
                    <a class="btn btn-outline-light btn-social mx-1"
                       href="https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle" target="_blank"><i
                            class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-lowercase mb-4">Thymeleaf</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.thymeleaf.org/documentation.html"
                       target="_blank"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <div class="col-lg-4 mb-5">
                    <h4 class="text-uppercase mb-4">H2DB</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.h2database.com/html/main.html"
                       target="_blank"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-5">
                    <h4 class="text-uppercase mb-4">Bootstrap</h4>
                    <p class="lead mb-0">
                        <a href="http://startbootstrap.com" target="_blank">Bootstrap</a>
                        .
                    </p>
                </div>
                <div class="col-lg-4">
                    <h4 class="text-capitalize mb-4">Interpark Book</h4>
                    <p class="lead mb-0">
                        <a href="http://book.interpark.com/bookPark/html/book.html?smid1=header&smid2=book" target="_blank">Interpark
                            Book</a>
                        .
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © Book Board 2020</small></div>
    </div>
</th:block>

</html>