<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="th-fragment-book-js">
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Book Storage form JS-->
    <script th:src="@{/js/jqBootstrapValidation.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/book-storage.js}"></script>
    <!-- Core theme JS-->
    <script th:src="@{/js/scripts.js}"></script>
</th:block>

</html>